.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../..//public/back-hero.svg);
   /* background-color: rgba(red, green, blue, 0.7); */
    margin-top: -140px;
    display: flex;
    z-index: 10;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
    gap: 100px;
    
}
.heroText{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.heroTitle,.herodesc{
    color: white;
    margin-bottom: 0%;
}
.heroTitle{
    font-size: 40pt;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    margin-bottom: -30px;
}
.hubungi{
    width: 271px;
    height: 59px;
    border-radius: 20px;
    border:none;
    background-color: rgb(255, 104, 49);
    font-size: 20pt;
    color: white;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hubungi:hover{
    background-color: orangered;
}
.carousel{
    width: 700px;
    height: auto;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);

}
.dot{                                                                                                                                                                                                                                                                                                                   
    margin-top: -4px;
    width: 100%;
    text-align: center;
    z-index: 5000;
    position: absolute;
    left: 300px;

}
@media only screen and (max-width:500px){
    .hero{
        height: 80vh;
    }
}