.hero{
    width: 100vw;
    height: 70vh;
    background-image: url(../..//public/herotentang.svg);
   /* background-color: rgba(red, green, blue, 0.7); */
    margin-top: -140px;
    background-size: cover;
    display: flex;
    z-index: 10;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    gap: 20px;
    
}

.heroTitle,.herodesc{
    color: white;
    margin-bottom: 0%;
}
.heroTitle{
    font-size: 40pt;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-transform: uppercase;
    margin-bottom: -30px;
}

.hubungi{
    width: 271px;
    height: 59px;
    border-radius: 20px;
    border:none;
    background-color: rgb(255, 104, 49);
    font-size: 20pt;
    color: white;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hubungi:hover{
    background-color: orangered;
}
@media only screen and (max-width: 320px){
    .hero{
        min-width: 100%;   
        padding: 0 5%;
        display: flex;
        align-items: center;
        gap: 20px;
        background-size: cover;

    }
    .heroTitle{
        margin-top: 50px;
        font-size: 16pt;
    }
    .herodesc{
        font-size: 12pt;
        width: 300px;
        text-align: center;
    }
    .hubungi{
        font-size: 16pt;
        width: 60%;
        height: 10%;
    }

}
@media only screen and (max-width:768x){
    .heroTitle{
        font-size: 20pt;
    }
    .herodesc{
        text-align: center;
        width: 250px;
    }
    .hubungi{
        width: 50%;
        height: 40px;
        font-size: 14pt;
    }
}