.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: transparent;
    align-items: center;
    padding: 5% 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
.navbarScroll{
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: #021e38;
    align-items: center;
    padding: 5% 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
.hello{
    color:red;
}
.navbar .menu{
    width: 80%;
    display: flex;
    gap: 80px;
    
}
.menu{
    width: 80%;
    display: flex;
    gap: 80px;
    color: teal;
}
.navbarScroll .menuComponent{
    list-style-type: none;
    font-size: 14pt;
    display: flex;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
 
.menuComponent{
    list-style-type: none;
    font-size: 13pt;
    display: flex;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
 .menu .menuComponent:hover{
    color: #233B54;
    font-weight: bold;
}

.dropMenu{
    display: none;
    z-index: 1000;

    
}
.dropMenu .menuComponent{
    display: none;
}
.menumobile{
    display: none;
  
}


@media only screen and (max-width: 500px){
    .navbar{
        padding: 20% 5%;
        display: none;
    }

   
    .navbar .menu{
    display: none;  
    }
    

    .containerMenumobile{
        width: 100vw;
        height: auto;
        min-height: 10vh;
        padding:5% 5%;
        display: flex;
        flex-direction: column;
        position: relative;
        background:red;

    }
    .navbarScroll{
        height: 10vh;
        margin-bottom: -80px;
    }
    .navbarScroll .menuComponent{
        display: none;
    }
    .brand{
        display: none;
    }
    
    .dropicon{
        font-size: 30pt;
        margin-left: 100px;
        color: white;
    }

    .dropMenu{
        display: flex;
        z-index: 200;
        position: fixed;
        top: 0 ;
        left: 0;
        background-color: transparent;
        width: 100vw;
        height: 10vh;
        justify-content: flex-start;
        align-items: center;
        padding: 2% 5%;
    }
    .menumobile{
        display: flex ;
        opacity: 0;
        width: 150px;
        height: auto;
        padding: 20px 10px;
        flex-direction: column;
        box-shadow: 5px 5px solid black;
        background: rgba(14, 30, 122,0.5);
        gap: 30px;
        align-items: flex-start;
         margin-left: 220px;
         position: absolute;
        margin-top: -6px;
        border-radius: 20px;
        list-style: none;
        color: white;
        transition: 1s;
        z-index: 50;

        

    }
}