.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: transparent;
    align-items: center;
    padding: 5% 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}
.navbarScroll{
    width: 100vw;
    height: 10h;
    display: flex;
    background-color: #021e38;
    align-items: center;
    padding: 5% 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}

.navbar .menu{
    width: 80%;
    display: flex;
    gap: 80px;
    
}
.logoscroll{
    position: fixed;
}
.menu{
    width: 80%;
    display: flex;
    gap: 80px;
    color: teal;
}
.navbarScroll .menuComponent{
    list-style-type: none;
    font-size: 14pt;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
 
.menuComponent{
    list-style-type: none;
    font-size: 13pt;
    display: flex;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
 .menu .menuComponent:hover{
    color: #233B54;
    font-weight: bold;
}

.dropMenu{
    display: none;
    z-index: 1000;

    
}
.dropMenu .menuComponent{
    display: none;
}
.menumobile{
    display: none;
  
}

.dropicon{
    color: white;
    font-size: 24pt;
}

@media only screen and (max-width: 320px){
    .containerMenumobile{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    .navbarScroll{
        width: 100%;
        height: 20vh;
        padding: 7% 0;
    }
    .dropMenu{
        width: 100%;
        padding: 10% 0;
    }

    .menumobile{
        position: absolute;
        left: -390px;
    }
    .dropicon{
        position: absolute;
        width: 100px;
        height: 50px;
        margin-top: 10px;
        right: 500px;
        z-index: 400;
        display: flex;
    
    }
    .logo{
        width: 80px;
        height: 52px;
        margin-top: 20px;
        margin-right: -300px;
    }
}
@media only  screen and (max-width: 500px){
    .containerMenumobile{
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    .navbarScroll{
        
        height: 10vh;
        padding: 7% 0;
    }
    .dropMenu{
        width: 100%;
        padding: 10% 5%;
    }
    .menumobile{
        margin-right:290px;
    }
    .dropicon{
        position: fixed;
        top: -30px;
        left:30%;
        width: 100px;
        height: 50px;
    }
    .logo{
        width: 100px;
        height: 52px;
    }
}
/* 768px */

@media only screen and (max-width: 768px){
    .navbar{
        padding: 20% 5%;
        display: none;
        margin-bottom: 300px;
    }

   
    .navbar .menu{
    display: none;  
    }
    

    .containerMenumobile{
        width: 100vw;
        height: auto;
        min-height: 10vh;
        padding:5% 5%;
        display: flex;
        flex-direction: column;
        position: relative;
        background:red;

    }
    .navbarScroll{
        height: 10vh;
        margin-bottom: -80px;
    
    }
    .navbarScroll .menuComponent{
        display: none;
    }
    .brand{
        display: none;
    }
    .logo{
        margin-left: 20px;
    }
    
    .dropicon{
        position: fixed;
        top: 0;
        width: 100px;
        height: 50px;
        margin-left: 60%;
        
    }

    .dropMenu{
        display: flex;
        z-index: 200;
        position: fixed;
        top: 0 ;
        left: 0;
        background-color: transparent;
        width: 100vw;
        height: 10vh;
        justify-content: flex-start;
        align-items: center;
        padding: 2% 5%;
    }
    .menumobile{
        display: flex ;
        opacity: 0;
        width: 150px;
        height: auto;
        padding: 20px 10px;
        flex-direction: column;
        box-shadow: 5px 5px solid black;
        background: rgba(14, 30, 122,0.9);
        gap: 30px;
        align-items: flex-start;
         margin-left: 550px;
         position: absolute;
        margin-top: -90px;
        border-radius: 20px;
        list-style: none;
        color: white;
        transition: 1s;
        z-index: 50;

        

    }
}