.tentang{
    width: 100vw;
    height: auto;
    min-height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}
.tentangTitle{
    font-family: 'Rokkitt', serif;
    font-size: 20pt;
    font-weight: medium;
    width: 170px;
    margin-bottom: -10px;
}
.tentangTitle hr{
    width: 150px;
    margin-right: 20px;
    border: 2px solid #233B54;
    margin-top: 5px;
}
.tentangDesc{
    width: 100%;
    display: flex;
    gap: 30px;
}
.tentangText{
    width: 60%;
    font-size: 14pt;
    text-align: justify;
    line-height: 1.5;
}
.imageTentang{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    
}
@media only screen and (max-width: 320px){
    .tentang{
        width: 100vw;
        padding-left:5% 5%;
        display: flex;
        justify-content: center;    
    }
    .tentangDesc{
        flex-direction:column-reverse;
        padding: 10% 0;
        align-items: center;    
    }
    .tentangText{
        width: 50%;
        margin-left: 0;
    }
    .imageTentang{
        margin-left: 0;
    }
}
@media only screen and (max-width:500px){

    .tentangDesc{
        flex-direction:column-reverse;
        padding: 20% 0;
        align-items: center;
    }
    .tentangText{
        width: 100%;
    }
}